@model HaviOnlineOrdering2018.BLL.CustomerBLL


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/havicustom.js"></script>


<script src="~/Scripts/havicustom.js"></script>
<script type="text/javascript">

    window.onbeforeunload = function (e) {
        if (typeof (postBack) != "undefined" && postBack == true)
            return;
        if (hasChanges()) {
            document.getElementById('<%=btnConfirm.ClientID%>').click();

        }
    }

        
    $(function () {
        
        
        
        $('#tblCart').DataTable({
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ],
            columnDefs: [{ responsivePriority: 1, targets: [0, 6] }],
            bPaginate: false,
            bFilter: false,
            "initComplete": function (row, data, start, end, display) {
                $('tr td')
                 .each(function () { // loop through all matched elements
                     $(this).removeAttr("tabindex");
                 });
                
                api = this.api(), data;

               
                //// Total over this page
              
                // Update footer

                //// total case pack
                //$(api.column(2).footer()).html(
                //    parseFloat(totalrow(api, 2)).toFixed(2)
                //);

                // total cube
                $(api.column(2).footer()).html(
                    parseFloat(totalrow(api, 2)).toFixed(2)
                );

                // total weight
                $(api.column(3).footer()).html(
                    parseFloat(totalrow(api, 3)).toFixed(2)
                );

                //total qty
                $(api.column(5).footer()).html(
                   parseInt(totalrow(api, 5))
                );


                // total price
                $(api.column(6).footer()).html(
                     '₱' + parseFloat(totalrow(api, 6)).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                );
                //change color
                $(api.column(6).footer()).css({ "color": "green" })

                // Update footer
            }
        });



        $('#IsSpecialOrder').change(function (e) {

            var specdeldate = $('#SpecialDeliveryDate').data('DateTimePicker');
            if (this.checked) {
                specdeldate.enable()
                $("#SpecialDeliveryDate").data('DateTimePicker').minDate(tomorrow);
            }
            else {
                specdeldate.disable();
                specdeldate.clear();
            }
            $.ajax({
                url: '/Home/UpdateShoppingCart',
                type: 'POST',
                data: getShoppingCartData(this),
                dataType: 'json',
                success: function (data) {

                },
                error: function () {
                    alert("error");
                }
            });

        });


        var dateNow = new Date();
        $("#OrderDate").datetimepicker({
            defaultDate: dateNow
        });

        var dateToday = new Date();
        var tomorrow = new Date();
        tomorrow.setDate(dateToday.getDate() + 1);
        $("#SpecialDeliveryDate").datetimepicker({
            format: "MM/DD/YYYY"
        });
        $("#OrderDate").data("DateTimePicker").disable();

        if (!$('#IsSpecialOrder')[0].checked) {
            $("#SpecialDeliveryDate").data("DateTimePicker").clear();
        }
        else {
            if ($("#SpecialDeliveryDate").val() != "") {
                $("#SpecialDeliveryDate").data('DateTimePicker').minDate(tomorrow);
            }
            else {
                $("#SpecialDeliveryDate").data('DateTimePicker').minDate(tomorrow);
                $("#SpecialDeliveryDate").data("DateTimePicker").clear();
            }

        }


        $('#tblCart')
               .addClass('nowrap')


        $('#confirmdel').click(function (e) {
            var item = $("#wrin")[0].innerText;
            location.href = '@Url.Action("DeleteItem", "Home")?itemcode=' + item;
        });

        $(".item-input").focusout(function (e) {

            var $row = $(this).closest("tr");       // Finds the closest row <tr>
            var $tds = $row.find("td");             // Finds all children <td> elements


            var avgqty = parseInt($($tds[6]).text().toString().trim()); //Avg Order Qty
            var qty = parseInt($($($tds[5]).find("input")[0]).val()); // Order Qty

            if (avgqty != null || avgqty != isNaN) {
                if (qty != null && qty > avgqty) {
                    $($row).css("background", "#ee8812");
                    $("#avgp").css("display", "block");
                }
                else {
                    $($row).removeAttr('style');
                    //$("#avgp").css("display", CheckIfOrderExceed() ? "block" : "none");
                }
            }
        });

        //if (CheckIfOrderExceed()) {
        //    $("#avgp").css("display", "block");
        //}


        $("button[type='submit']").click(function () {
            var frmid = $(this).closest("form").attr('id');
            if (frmid != "Searchfrm") {
                return confirm('Are you sure you want to submit your order?');
            }
        });


        $('#DeletePrompt').on('show.bs.modal', function (e) {
            var itemcode = $(e.relatedTarget).data('itemcode');
            $("#wrin").html("<b>" + itemcode + "</b>");
        });


        var ttlitems = oTable.api().rows().count();

        if (ttlitems == 0) {
            $("button[type='submit']").hide();
        }
        else {
            $("button[type='submit']").show();
        }

        $('#SpecialDeliveryDate').blur(function (e) {

            $.ajax({
                url: '/Home/UpdateShoppingCart',
                type: 'POST',
                data: getShoppingCartData(),
                dataType: 'json',
                success: function (data) {

                },
                error: function () {
                    alert("error");
                }
            });
        });

    })

    


</script>

<style type="text/css">
    .htext {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: White;
    text-decoration: none;
}
    .ItemsWithConvertionBG {
        background-color:#ffb366!important;
    }
    .textfield .hint {
        display: none;
        position: absolute;
        width: 15em;
        bottom: 1.7em;
        background: #ff9;
        padding: 0 0.2em;
        border: solid 1px;
        margin-left: -211px;
        font-weight: bold;
        color: red;
    }

    .textfield {
        position: relative;
    }

</style>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-4">
            <h1 class="page-header"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="page-header input-group col-md-6 col-md-offset-6">
            <form action="~/Home/Products"  method="get" class="card card-sm" autocomplete="off" id="Searchfrm">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="Search" name="Search" type="text" class="form-control input-lg" placeholder="Search Item Code / Description" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

@using (Html.BeginForm("SubmitOrders", "Home", FormMethod.Post))
{
    <!-- /.row -->
    <div class="row">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td colspan="1">
                        <form>
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Store No.:</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                            <input id="storeno" name="storeno" class="form-control" value="@Model.StoreNameNo" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label">Login Name:</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input id="loginname" name="loginname" class="form-control" value="@Model.Login" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label">Name:</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input id="name" name="name" class="form-control" value="@Model.Company" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label" style="margin-right:15px;">Order Date:</label>
                                    <div class='input-group date' style="width:290px;" id="OrderDate">
                                        <input type="text" class="form-control" disabled/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </td>
                    <td colspan="1">
                       
                            <div class="form-group row">
                                <label class="col-md-3 control-label" style="margin-right:15px;">Regular Delivery Date:</label>
                                <div class='input-group date' style="width:290px;" id="regdeldate">
                                    <input id="regdeldate" type="text" class="form-control" value=@Model.OrderDeliveryDate disabled/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="IsSpecialOrder">SpecialOrder</label>
                                <div class="col-sm-6">
                                    @*@Html.CheckBoxFor(m => m.Orders.ShoppingCart.IsSpecialOrder, new { @class = "move-left" })*@
                                    @*@Html.CheckBoxFor(m => m., "IsSpecialOrder",false, new { @class = "move-left", @onclick = "javascript: $('#specdeldate > .form-control').prop('disabled') == true ? $('#specdeldate').data('DateTimePicker').enable() : $('#specdeldate').data('DateTimePicker').disable(); $('#specdeldate').data('DateTimePicker').clear()" })*@
                                    <input class="move-left" type="checkbox" id="IsSpecialOrder" name="IsSpecialOrder" checked="@Model.Orders.ShoppingCart.IsSpecialOrder">
                                    <label class="control-label text-danger" style="font-size:12px"><em> (if checked, specify special delivery date)</em></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label" style="margin-right:15px;">Special Delivery Date:</label>
                                <div class='input-group date' style="width:290px;" id="specdeldate" name="specdeldate">
                                    @*@Html.TextBoxFor(m => m.Orders.ShoppingCart.SpecialDeliveryDate, Model.Orders.ShoppingCart.IsSpecialOrder ? (object)new { @class = "form-control", @type = "date", Value = Model.Orders.ShoppingCart.SpecialDeliveryDate } : (object)new { @class = "form-control", @type = "date", @value = Model.Orders.ShoppingCart.SpecialDeliveryDate, disabled = "disabled", })*@
                                    <input id="SpecialDeliveryDate" type="text" class="form-control" name="SpecialDeliveryDate" value=@( !Model.Orders.ShoppingCart.IsSpecialOrder ? null : @Model.Orders.ShoppingCart.SpecialDeliveryDate) @( !Model.Orders.ShoppingCart.IsSpecialOrder ? "disabled" : "") />

                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-3 ">
        </div>
        <div class="col-md-3 margin-bottom-lg ">
            <button type="submit" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-shopping-cart"></span> Submit Orders
            </button>
        </div>
        <div class="margin-bottom-lg">
            <a href="~/Home/OrderByCategory" class="btn btn-info btn-m" style="font-size:23px;"><i class="material-icons">add_shopping_cart</i> Shop More</a>
        </div>
    </div>



    if (Model.Orders.ReferenceForDeliveryPerItem.Count() > 0 && ViewBag.Submitted != null)
    {
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table bordercolor="#cccccc">
                    <tr bgcolor="#31b0d5">
                        <td colspan="3" style="color:white;font-weight:bold;">Reference for Delivery per item. Please remove items conflict below</td>
                    </tr>
                    <tr style="font-weight:bold;text-align:center;">
                        <td width="15%" bgcolor="#eeeeee" #eeeeee"">Item Code</td>
                        <td width="60%" bgcolor="#eeeeee">Item Description</td>
                        <td width="25%" bgcolor="#eeeeee" #eeeeee"">Suggested Delivery Date</td>
                    </tr>
                    @foreach (HaviOnlineOrdering2018.BLL.OrdersBLL.cReferenceForDeliveryPerItem item in Model.Orders.ReferenceForDeliveryPerItem)
                    {
                        <tr>
                            <td style='color:red;font-weight:bold;text-align:center;'>@item.ItemCode</td>
                            <td style='color:red;font-weight:bold;text-align:center;'>@item.ItemDescription</td>
                            <td style='color:red;font-weight:bold;text-align:center;'>@item.SystemSuggestedDelivery</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
        
    }


    <div class="row">

                    <div class="col-lg-12">
                        <p id="avgp" style="display:none;" class="text-center text-danger"><b>Warning:Item(s) highlighted with this <span style="color:#ee8812">color </span> exceeded your average order quantity.</b></p>
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="tblCart">
                                    <thead>
                                        <tr>
                                            <th>Item Code</th>
                                            <th>Item Description</th>
                                            @*<th>PK</th>*@
                                            <th>CU</th>
                                            <th>WT</th>
                                            <th>Unit Price</th>
                                            <th>QTY</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th colspan="2" style="text-align:right">Total:</th>
                                            <th></th>
                                            @*<th></th>*@
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        @{
                                            foreach (HaviOnlineOrdering2018.BLL.OrdersBLL.Cart item in Model.Orders.ShoppingCartItems)
                                            {
                                                @Html.Raw(item.wrin.Substring(item.wrin.Length - 1, 1) == "C" ? "<tr class='ItemsWithConvertionBG'>" : "<tr>")
                                                    <td><a href="#" id=@item.wrin data-itemcode=@item.wrin data-toggle="modal" data-ng-options="" data-target="#DeletePrompt" tabindex="-1"><span class="glyphicon glyphicon-remove-sign fa-lg"></span></a>&nbsp;&nbsp;@Html.DisplayFor(m => item.wrin)</td>
                                                    <td>@item.item_desc</td>
                                                    @*<td>@(String.Format("{0:0.##}", Convert.ToDecimal(item.pk)))</td>*@
                                                    <td>@(String.Format("{0:0.##}", Convert.ToDecimal(item.cu)))</td>
                                                    <td>@(String.Format("{0:0.##}", Convert.ToDecimal(item.wt)))</td>
                                                    <td>@( "₱" + String.Format("{0:n}", Convert.ToDecimal(item.unitprice)))</td>
                                                    <td>
                                                        <div class=textfield>
                                                            @if (Model.EntityID == "2")
                                                            {
                                                                if (item.inners > 0)
                                                                {
                                                                    <div class=hint>For orders equivalent <br/>to a Case, kindly use the <br />Item Code in Case issuance.</div>
                                                                    @Html.TextBox("row_" + item.wrin, null, new { size = 5, title = "Input only less than the inner per case value", id = "row_" + item.wrin, onblur = "return IsValid(this," + item.inners + ")", onkeypress = "return restrictInput(this, event, integerOnly, '', true);", maxlength = "5" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox("row_" + item.wrin, null, new { size = 5, id = "row_" + item.wrin, onkeypress = "return restrictInput(this, event, integerOnly, '', true);", maxlength = "5" })
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBox("row_" + item.wrin, item.qty, new { size = 5, id = "row_" + item.wrin, @class = "item-input", onkeyup = "return validateInputs(this)", onkeypress = "return restrictInput(this, event, integerOnly, '', false);", maxlength = "5" })
                                                            }
                                                        </div>
                                                        
                                                    </td>
                                                    <td>@( "₱" + String.Format("{0:n}", Convert.ToDecimal(item.unitprice * item.qty)))</td>
                                                @Html.Raw("</tr>")
                                            }
}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 ">
                    </div>
                    <div class="col-md-3 margin-bottom-lg ">
                        <button type="submit" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Submit Orders
                        </button>
                    </div>
                    <div class="margin-bottom-lg">
                        <a href="~/Home/Products" class="btn btn-info btn-m" style="font-size:23px;"><i class="material-icons">add_shopping_cart</i> Shop More</a>
                    </div>
                </div>
                }



                <!-- Modal -->
                <div class="modal fade" id="DeletePrompt" tabindex="-1" role="dialog" aria-labelledby="DeletePromptlabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <span>Are you sure you want to remove item# <span id="wrin"> </span></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="confirmdel">Yes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->

</div>
<!-- /.container-fluid -->

@*<script type="text/javascript" src="/scripts/jquery.min.js"></script>*@
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />




<script type="text/javascript">

    function UpdateTotalPrice(rowindex) {

        var api = $('#tblCart').DataTable();

        api.row(rowindex).invalidate();

        //total qty
        $(api.column(6).footer()).html(
           parseInt(totalrow(api, 6))
        );

        //total price
        $(api.column(7).footer()).html(
          '₱' + parseFloat(totalrow(api, 7)).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
        );

        //change color
        $(api.column(7).footer()).css({ "color": "green" })
    }
        

    function getShoppingCartData(c) {
        //Convert the form data to a javascript object
        var dataToSubmit = {
            SpecialOrder: c == null ? null : c.checked,
            SpecialDeliveryDate: $('#SpecialDeliveryDate').val()
        };

        return dataToSubmit;
    }
    
  

    

    


</script>
